/* Colors */

$color-primary: #cab1ff;
$color-primary-dark: #843fdd;
$color-secondary: #e0fff8;
$color-dark: #000;
$color-light: #fff;

/* Buttons */

$btn-shadow: 0px 4px 6px rgba(130, 89, 217, 0.5),
  0px 2px 1px rgba(130, 89, 217, 0.5), 0px 1px 0px rgba(0, 0, 0, 0.8);
$btn-transition: all 0.5s ease;

/* Fonts: families */

$font-primary: 'Inter', 'Arial', 'Tahoma', sans-serif;
$font-secondary: 'Alegreya', 'Georgia', 'Times', 'Times New Roman', serif;

/* Fonts: weights */

$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 500;
$font-weight-bold: 600;
$font-weight-black: 900;

/* Blocks' sizes */

$header-height: 100px;

/* Animation */

$animation-time: 0.3s;