%menu-item {
    @include font($size: 2rem, $spacing: 0.04rem);
}

%padding {
    padding-top: $header-height + 60px;
    padding-bottom: 60px;
}

%subtitle {
    margin-bottom: 60px;
    text-align: center;
  
    @include font(
      $size: 3.2rem,
      $weight: $font-weight-light,
      $line-height: 150%
    );
}