.learn-word-card-wrapper {
    min-height: 100vh;
    @extend %padding;
    @include flex(column, center, center);
}

.learn-word-card {
    background-color: $color-light;
    width: 60%;
    padding: 41px 37px;
    @include flex(column, center, center);
}

.learn-word-card__title {
    margin-top: 76px;
    @include font(8.8rem);
}

.learn-word-card__translate {
    margin-bottom: 99px;
    @include font(4.1rem, $font-weight-extralight);
    color: $color-dark;
    opacity: 0.6;
}

.learn-word-card__button {
    width: 100%;
    padding: 28px 0px;
    background-color: transparent;
    border: 1px solid $color-dark;
    cursor: pointer;
    @include font(2.8rem);
}