* {
    box-sizing: border-box;
}

body {
    position: relative;
    // background-color: $color-secondary;
    background-image: radial-gradient(circle at center, rgba($color-secondary, 0.65), $color-secondary);
}

a {
    color: $color-dark;
    text-decoration: none;
    cursor: pointer;
}